@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: #ffff;
    font-family: 'Times New Roman', 'sans-serif';
}

body {
    background-color: black;
    color: #91a7df;
}

header {
    margin-top: 20px;
    width: 100%;
    padding: 1rem 9%;
}

hr {
    width: 90%;
    border-top: 1px solid #91a7df;
    margin-top: 1em;
    margin-right: 0; 
}

.type {
    color: #91a7df;
}

.project {
    color: #f5bf9a;
}

main {
    color: white;
    margin-left: 5em;
    margin-right: 5em;
}

ul {
    margin-left: 20px;
    color: white;
}

ol {
    margin-left: 20px;
    color: white;
}

li {
    margin-bottom: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    header {
        padding: 1rem 5%;
    }

    main {
        margin-left: 2em;
        margin-right: 2em;
    }

    ol, ul {
        margin-left: 10px;
    }

    li {
        margin-bottom: 8px;
    }
}
